/*HOME*/

/*GENERAL*/
.bodyhome{
    background-color: white;
    background-image:url("../img/home.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 80%;
}

/*MENÚ*/
.menu{
    font-family: 'Open Sans', sans-serif;
    color: black; 
    text-align: left;
    text-decoration: none;
}

/*EMILIA COLE*/
.emilia_cole{
    font-family: 'Work Sans', sans-serif;
    color: black;
    text-align: left; 
}

/*TWIST IN MY REALITY*/
.twist_in_my_reality{
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: black; 
    text-align: left; 
    background-color: rgb(255, 255, 255, 0.6)
}

/*ABOUT*/

/*bodyabout*/
.bodyabout {
    background-image: url(../img/about.jpg);
    background-color: white;
    background-blend-mode: darken;
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position: right top;
}
/*Menu*/
.menu2 {
    text-align: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*about emilia*/
.aboutemilia{
    font-family:'Raleway', sans-serif;
    font-size: 55px;
    font-weight: 900;
}
/*description*/
.description{
    color: #008B8B;
    font-family: 'Raleway', sans-serif;
}

/*description2*/
.description2{
    color: #008B8B;
    font-family: 'Raleway', sans-serif;
    font-size: 19px
}

/*MUSIC*/
/*music*/
.music{
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
}

/*directlink*/
.directlink {
    font-family:'Raleway', sans-serif ;
}
/*body*/
.bodymusic{
    background-color:rgb(255, 255, 255);
    background-repeat: no-repeat;
}

/*contenidomultimedial*/
.punteomultimedia{
    text-decoration: none;
    color: black;
}

/*albumtwist*/
.album_twist_in_my_reality {
    font-family:'Raleway', sans-serif ;
    text-decoration: none;
    color: black;
}

/*infocanciones*/
.infocanciones {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
}
/*gototop*/
.gototop{
    text-decoration: none;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*organic love video*/
.organic_love_video{
    font-family:'Raleway', sans-serif ;
    text-decoration: none;
    color: black;
}

/*videostreetlight*/
.videostreetlight{
        font-family:'Raleway', sans-serif ;
        text-decoration: none;
        color: black;
}

/*info*/
.info{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    text-decoration: none;
    }

/*iconos*/
.iconos {
    text-align: right;
}

/*CONTACT*/

/*titulo*/
.contact{
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
}
/*wearehere*/
.werarehere{
    font-family:'Raleway', sans-serif ;
    font-size: 23px;
}
/*contactinfo*/
.contactinfo {
    font-family:'Raleway', sans-serif ;
}
/*contactinfo*/
.management {
    color:  #008B8B;
    font-family:'Raleway', sans-serif ;
}

/*booking*/
.BOOKING{
    color: #008B8B;
    text-decoration:none;
    font-weight:bold;
    font-family:'Raleway', sans-serif;
}

/*mail*/
.mail{
    text-decoration: none;
    font-weight: normal;
    color: black;
}

/*phone*/
.phone{
    text-decoration:none;
    font-weight:normal;
    color: black
}

/*label*/
.LABEL{
    color: #008B8B;
    text-decoration:none;
    font-weight:bold;
    font-family:'Raleway', sans-serif;
    }

/*pr*/
.PR{
    color: #008B8B;
    text-decoration:none;
    font-weight:bold;
    font-family:'Raleway', sans-serif;
}